@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap");
$text_white: white;
$text_grey: rgb(218, 218, 218);
$background1: black;
$background2: rgb(20, 20, 20);
$max_width: 1100px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  font-family: "Nunito";
  color: $text_white;
  background-color: $background2;
}
#root {
  height: 100%;
  width: 100%;
}
.header {
  padding: 30px 20px;
  background-color: $background1;
  .headerContents {
    margin: 0 auto;
    max-width: $max_width;
    h1 {
      font-size: 45px;
    }
  }
}

.homeContainer {
  padding: 0 20px;
  .heroSection {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    max-width: $max_width;
    border-radius: 20px;
    overflow: hidden;
    img {
      height: 550px;
      width: 100%;
      object-fit: cover;
    }
    .heroText {
      h1 {
        font-size: 60px;
      }
      background-color: $background1;
      padding: 40px;
    }
    @media (max-width: 800px) {
      .heroText {
        padding: 20px;
        h1 {
          font-size: 40px;
        }
      }
    }
  }
}

.grid {
  margin: 0 auto;
  max-width: $max_width;
  padding: 40px 0;
  h1 {
    margin-bottom: 20px;
  }
  .gridContents {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(167px, 1fr));
    grid-gap: 20px;
    .thumb {
      img {
        object-fit: contain;
        width: 100%;
        border-radius: 20px;
        overflow: hidden;
      }
      .textContainer {
        p {
          margin-top: 5px;
          font-size: 14px;
          color: $text_grey;
        }
        h1 {
          margin-top: 2px;
          font-size: 18px;
        }
        @media (max-width: 768px) {
          h1 {
            font-size: 22px;
          }
        }
      }
    }
  }
  @media (max-width: 900px) {
    .gridContents {
      grid-template-columns: repeat(auto-fill, minmax(165px, 1fr));
    }
  }
}
